/* Navbar Brand */
.navbar-brand {
    width: 100%;
    min-height: 100px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-brand > a {
    max-width: 250px;
    max-height: 100px;
}
.navbar-brand > a > img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
/* Navbar CSS */
.navbar{
    width: 100%;
    min-height: 60px;
    background: #1515bb;
}
.navbar .navbar-collapse {
    justify-content: space-between;
}
.navbar .navbar-collapse .nav-left, 
.navbar .navbar-collapse .nav-right {
    width: 25%;
}
.navbar .navbar-collapse .nav-center{
    width: 75%;
}
.navbar .navbar-collapse .nav-center.navbar-nav{
    justify-content: center;
} 
.search-form > form {
    position: relative;
}
.search-form > form > input[type="search"] {
    width: 100%;
    min-height: 40px;
    padding: 5px 40px 5px 10px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 0;
    outline: 0;
}
.search-form > form > button[type="submit"] {
    position: absolute;
    top: 2px;
    right: 2px;
    background: transparent;
    border: none;
    border-radius: 0;
    color: #ffffff;
    transition: all 0.3s ease-in;
}
.search-form > form > button[type="submit"]:hover,
.search-form > form > button[type="submit"]:focus{
    background: #ffffff;
    color: #1515bb;
}
.search-form > form > input[type="search"]::placeholder,
.search-form > form > input[type="search"]:-moz-placeholder,
.search-form > form > input[type="search"]::-moz-placeholder,
.search-form > form > input[type="search"]:-ms-input-placeholder,
.search-form > form > input[type="search"]::-ms-input-placeholder,
.search-form > form > input[type="search"]::-webkit-input-placeholder {
    color: #ffffff !important;
}
/* Footer CSS */
.site-footer .widget-area {
    padding: 50px 30px;
}
.site-footer .widget-area:nth-child(1) {
    background: #5f5fff;
}
.site-footer .widget-area:nth-child(2) {
    background: #4646ff;
}
.site-footer .widget-area:nth-child(3) {
    background: #3030fb;
}
.site-footer .widget-title {
    margin-bottom: 40px;
    font-size: 26px;
    font-weight: 500;
    line-height: 1;
    color: #ffffff;
    text-transform: uppercase;
}
.site-footer ul{
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}
.site-footer ul li,
.site-footer a{
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 10px;
    text-decoration: none;
}
.site-footer a:hover{
    color: #333333;
}

/****** General CSS *******/
section{
    padding-top: 30px;
    padding-bottom: 50px;
}
img{
    max-width: 100%;
    height: auto;
}
.btn-outline {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5px 20px;
    border: 1px solid #333333;
    outline: none;
    text-align: center;
    margin-bottom: 35px;
}
.entry-title{
    margin-bottom: 60px;
}
.entry-title .title{
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    padding-top: 30px;
    margin-bottom: 10px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
}
.entry-title .title-separator{
    display: block;
    width: 100px;
    height: 2px;
    background: #1515bb;
    margin: 0 auto 60px auto;
}
.slider{
    width: 100%;
    position: relative;
}
.slick-prev,
.slick-next {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #1515bb;
    color: #ffffff;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.slick-prev {
    left: 0px;
}
.slick-next {
    right: 0px;
}
/***** Hero Slider ****/
.hero-slider{
    padding-top: 0;
}
.hero-slider .slider .slide{
    width: 100%;
    height: 580px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
}
.hero-slider h2{
    margin-bottom: 10px;
    color: #333333;
    font-size: 36px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
}
.hero-slider p{
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}
/********* Product **********/
.product .product-img {
    margin-bottom: 30px;
}
.product .product-name {
    font-size: 21px;
    font-weight: 500;
    line-height: 1;
    color: #333333;
    text-align: center;
    margin-bottom: 15px;
}
.product .product-price {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}
.product {
    text-align: center;
    box-shadow: 0px 0px 5px 0px #999999;
}
/******** Featured Collection ********/
.featured-collection .collection {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.featured-collection .collection > .collection-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.featured-collection .collection > h3.collection-title {
    width: 80%;
    background: #ffffff;
    padding: 5px 10px;
    text-align: center;
    margin-bottom: 0;
}
/****** Featured Products *******/
.featured-products .slider {
    margin-bottom: 60px;
}
.featured-products .slider .slide {
    padding: 0 20px;
}